@charset "euc-kr";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,p,blockquote,th,td{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display:block}
body{margin:0; padding:0; color:#000;background:#fff; 	overflow-x:hidden; }
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,nav,menu{font-family: "NotoSans", sans-serif;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none}
fieldset,img{border:0 none;vertical-align:middle; }
dl,ul,ol,menu,li{list-style:none; list-style-type:none; }
ul:after, ol:after {display:block; height:0; content:""; float:none; clear:both; }
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-size:0.8125rem;}
a{color: inherit;text-decoration:none;background:transparent;}
a:focus,a:active,a:hover{text-decoration:none}
table{border-collapse:collapse;border-spacing:0;width:100%;table-layout:fixed}
th,td{padding:0; word-break:break-all; }
img { border:0 none; vertical-align:middle; }
/* 
	*,*:before,*:after {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*/
legend,.blind {overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:100px;white-space:nowrap}
caption{overflow:hidden;width:0;height:0;font-size:0;line-height:0}
.clear:after{content:'';display:block;clear:both}
.hide{overflow:hidden;position:absolute;left:-9999px;width:0 !important;height:0 !important;font-size:0 !important;line-height:0 !important;margin:0 !important;padding:0 !important}

/* form */
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder,
textarea::-moz-placeholder,
input::-moz-placeholder,
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {color:#888}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{height:auto}
input,select{/* -webkit-appearance:none; */}
input[type=text],
input[type=password],
input[type=tel],
input[type=number],
input[type=email],
input[type=url]{line-height:1;height:28px;padding:6px 0 7px;margin:0;border:1px solid #e1e2e2;-webkit-appearance:none !important;background:#fff;color:#4d4d4d;font-size:0.875rem;text-indent:10px !important;}
input[type=button],
input[type=submit]{-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-border-radius:0;border-radius:none;cursor: pointer;}
input[type=file]{line-height:1;padding:6px 10px 7px;border:1px solid #e5e5e5;background:#fff;color:#4d4d4d;cursor:pointer;font-size:0.875rem}
input[type=text]:read-only,
input[type=password]:read-only,
input[type=tel]:read-only,
input[type=number]:read-only,
input[type=email]:read-only,
input[type=url]:read-only,
input[type=file]:read-only{border:1px solid #e1e2e2;color:#4d4d4d;text-indent:10px !important;font-size:0.875rem}
input[readonly],input[disabled]{border:1px solid #e1e2e2;color:#4d4d4d;text-indent:10px !important}
input[type=checkbox]{ width:15px;height:15px;border:0px solid #886868;margin-right:3px; vertical-align:middle}
input[type=radio]{ width:15px;height:15px;border:0px solid #155dda;margin-right:3px; vertical-align:middle}
input[type=radio]{vertical-align: middle}
select{height:28px;padding:4px 5px 3px 5px;border:1px solid #ccc;-webkit-border-radius:0;border-radius:0;font-size:0.75rem;color:#333;vertical-align:middle;}
select[disabled] {border:1px solid #e5e5e5;background:#f1f1f1;color:#4d4d4d}
textarea{width:100%;padding:5px 7px;font-size: 0.875rem;color:#4d4d4d; -webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-border-radius:0;border-radius:none;border:1px solid #e1e2e2; overflow-x: hidden}
button{cursor:pointer;border: 0;}
area:focus { /* outline: 0; */ }


#skipnavigation a {position:absolute;left:-3000%}
#skipnavigation a:focus {display:block;left:0;top:0;z-index:10000000000;width:100%;height:30px;line-height:30px;background:#039;color:#fff;text-align:center}

.footerMark img {
    width: 62px;
    height: 42px;
}


html,body {
	height:100%;
	-webkit-tap-highlight:rgba(0,0,0,0);
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	-webkit-focus-ring-color:rgba(0,0,0,0);
	overflow: visible;
	min-width: 320px;
}

* {margin:0; padding:0;}


/*PC紐⑥쓬 */

body {position:relative; min-width:320px; height:100%; font-size:75%; font-family:"맑은 고딕", Malgun Gothic, "돋움", Dotum, "굴림", Gulim, Tahoma, Verdana, AppleGothic, UnDotum, sans-serif; color:#000; line-height:1.7em; letter-spacing:-1px; word-spacing:0.2em; -webkit-text-size-adjust:none; overflow-x: hidden;}




